<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1 , user-scalable=no">
    <title>注册用户</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/my.css">
</head>
<body>
<!--头部begin-->
<header></header>
<!--头部end-->
<!--身体begin-->
<!--身体end-->
<!--结尾begin-->
<!--结尾end-->
</body>
</html>